In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('lebron.csv')
df1 = pd.read_csv('kobe.csv')

In [8]:
frames = [df,df1]

In [17]:
result = pd.concat(frames, keys=["lebron", "kobe"])

In [24]:
name = 'kobe'
result.loc[name]['Season']

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
Name: Season, dtype: int64

In [21]:
df1['Season']

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
Name: Season, dtype: int64