In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("kobe_shooting.csv")

In [5]:
df

,Season,Age,Tm,Lg,Pos,G,MP,FG%,Dist.,Unnamed: 9,...,3P.2,Unnamed: 26,%FGA,#,Unnamed: 29,%3PA,3P%,Unnamed: 32,Att.,#.1
0,1,18,LAL,NBA,SF,71,1103,0.417,11.9,NaN,...,0.765,NaN,0.043,17,NaN,0.066,0.333,NaN,0,0
1,2,19,LAL,NBA,SF,79,2056,0.428,12.2,NaN,...,0.827,NaN,0.083,69,NaN,0.050,0.273,NaN,3,0
2,3,20,LAL,NBA,SG,50,1896,0.465,12.3,NaN,...,0.704,NaN,0.073,53,NaN,0.040,0.500,NaN,1,0
3,4,21,LAL,NBA,SG,66,2524,0.468,11.9,NaN,...,0.652,NaN,0.072,82,NaN,0.069,0.200,NaN,2,0
4,5,22,LAL,NBA,SG,68,2783,0.464,12.8,NaN,...,0.770,NaN,0.035,49,NaN,0.120,0.375,NaN,4,0
5,6,23,LAL,NBA,SG,80,3063,0.469,12.0,NaN,...,0.576,NaN,0.061,88,NaN,0.061,0.125,NaN,3,1
6,7,24,LAL,NBA,SG,82,3401,0.451,13.9,NaN,...,0.613,NaN,0.063,116,NaN,0.096,0.355,NaN,6,0
7,8,25,LAL,NBA,SG,65,2447,0.438,11.9,NaN,...,0.775,NaN,0.049,51,NaN,0.152,0.273,NaN,6,0
8,9,26,LAL,NBA,SG,66,2689,0.433,13.9,NaN,...,0.664,NaN,0.045,53,NaN,0.127,0.327,NaN,6,0
9,10,27,LAL,NBA,SG,80,3277,0.450,15.1,NaN,...,0.706,NaN,0.029,59,NaN,0.077,0.350,NaN,3,0
10,11,28,LAL,NBA,SG,77,3140,0.463,14.5,NaN,...,0.642,NaN,0.038,59,NaN,0.080,0.375,NaN,2,0
11,12,29,LAL,NBA,SG,82,3192,0.459,14.4,NaN,...,0.680,NaN,0.049,80,NaN,0.070,0.414,NaN,6,0
12,13,30,LAL,NBA,SG,82,2960,0.467,14.0,NaN,...,0.644,NaN,0.036,59,NaN,0.086,0.414,NaN,1,0
13,14,31,LAL,NBA,SG,73,2835,0.456,13.5,NaN,...,0.636,NaN,0.025,36,NaN,0.100,0.367,NaN,2,0
14,15,32,LAL,NBA,SG,82,2779,0.451,14.5,NaN,...,0.652,NaN,0.023,38,NaN,0.121,0.326,NaN,2,0
15,16,33,LAL,NBA,SG,58,2232,0.430,15.0,NaN,...,0.644,NaN,0.023,28,NaN,0.108,0.355,NaN,1,0
16,17,34,LAL,NBA,SG,78,3013,0.463,14.4,NaN,...,0.621,NaN,0.033,51,NaN,0.128,0.327,NaN,4,0
17,18,35,LAL,NBA,SG,6,177,0.425,14.7,NaN,...,0.667,NaN,0.014,1,NaN,0.125,0.000,NaN,0,0
18,19,36,LAL,NBA,SG,35,1207,0.373,15.7,NaN,...,0.463,NaN,0.010,7,NaN,0.103,0.474,NaN,1,0
19,20,37,LAL,NBA,SF,66,1863,0.358,17.3,NaN,...,0.692,NaN,0.004,5,NaN,0.126,0.322,NaN,1,0